* {
  font-family: 'Share Tech Mono';
}

body {
  padding-top: 50px;
  background-color: #324393;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#screen {
  border: black solid;
  height: 220px;
  background-image: url("../images/embossed_paper.png");
}

.scores {
  text-align: left;
  color: white;
  margin-bottom: 0;
}

.outline {
  background-color: #C63035;
  width: 370px;
  height: 490px;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  border-top-left-radius:3%;
  border-top-right-radius:3%;
  position: relative;
  border: solid 1px black;
  margin: auto;
}

.outerscreen {
  height:45%;
  width:80%;
  background-color: #6E7078;
  margin-top: 13%;
  margin-left: 10%;
  border-bottom-left-radius:8%;
  border-bottom-right-radius:8%;
  border-top-left-radius:2%;
  border-top-right-radius:2%;
  position: absolute;
  border: solid 1px black;
}

.power {
    width: 10px;
    height: 10px;
    background: #E61F26;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    margin-top: 18%;
    margin-left: 1%;
    border: solid black 1px;
}

.display {
  background-color: #FFCB05;
  height:75%;
  width:80%;
  margin-left:10%;
  margin-top: 5%;
  position:absolute;
  border: solid black 1px;

}

.colorOuter {
  position:absolute;
  margin-top :63%;
  margin-left: 55%;

}

.gameboyOuter {
  position:absolute;
  margin-top :63%;
  margin-left: 14%;

}

.gamecircle {
  position: absolute;
  margin-top: 85%;
  margin-left: 10%;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #9D0A14;
    width: 80px;
    height: 80px;
}
.gamepad {
  margin-top: 3%;
}
.dpad {
  position: absolute;
  margin-top: 95%;
  margin-left: -30%;
  height: 70px;
  width: 80px;
}
.speakerGrill {
  position: absolute;
  margin-top: 110%;
  margin-left: 70%;

}

.nintendoOval {
  position: absolute;
  font-family: Pretendo;
  color: #9D0A14;
border-radius: 34px; 
-moz-border-radius: 34px; 
-webkit-border-radius: 34px; 
border: 2px solid #9D0A14;
width: 30%;
height:5%;
margin-top: 76%;
margin-left: 35%;

}

#reg {
  font-family: Times;

}

.bButton {
  color: #6E7078;
  height: 40px;
  width: 40px;
  background: #2C2C2C;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    margin-top: 95%;
    margin-left: 65%;

}
.bButton p {
margin-top: 27%;
}

.aButton {
  color: #6E7078;
  height: 40px;
  width: 40px;
  background: #2C2C2C;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    margin-top: 85%;
    margin-left: 80%;

}

.aButton p {
  margin-top: 27%;
}

.startSelect {
border-radius: 50px; 
-moz-border-radius: 50px; 
-webkit-border-radius: 50px; 
background-color: #2B2C2C;
width: 30px;
height: 5px;
position: absolute;
margin-top: 115%;
}

#selectButton {
  margin-left: 40%;
}

#startButton {
  margin-left: 50%;
}

.chatbox-bottom {
  border: double black;
  text-align: left;
  margin-top: 34%;
  padding: 1%;
  height: 82px;;
}

.chatbox-top {
  border: double black;
  text-align: left;
  margin-top: 26%;
  padding: 1%;
}

.highlight {
  background-color: orange;
}

.question {
  margin-top: 5%;
}

.startSelectCapt {
  margin-top: 117%;
  position: absolute;
}

#selectCapt {
margin-left: 40%;
font-size: .65em;
font-family: 'Share Tech Mono'; 
}

#startCapt {
margin-left: 51%;
font-size: .65em;
}

.powerCapt {
  position: absolute;
  margin-top: 22%;
  margin-left: .5%;
  font-size: .65em;
}

.powerParenth {
  position: absolute;
  margin-top: 18%;
  margin-left: 5%;
  font-size: .65em;
  font-family: 'Share Tech Mono';
}


.pokeball {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 5%;
}

.top {
   background-color: red;
    height:45px;
     width:90px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
}

.middle_circle{
  background-color:#FFFFFF;
  width:14px;
  height:14px;
  border-radius:50%;  
  position: absolute;
  margin-top: 16%;
  margin-left: 16%;
  border: 3px solid #000000;
}

.white_in{
  background-color:#FFFFFF;
  width:5px;
  height:5px;
  border-radius:50%;
  border:1px solid #000000;
  margin-top: 18%;
  margin-left: 17.7%;
}

.bottom{
  background-color:#FFFFFF;
  height:45px;
  width:90px;
  border-radius:0 0 195px 195px;
  border-top:2px solid #000000;
}

.pokelogofont {
  font-family: 'PokemonSolidNormal';
  color: #3C59A5;
}

.pretendo {
  font-family: 'Pretendo'

}

.round {
  margin-top: 25%;
}

.scoreboard {
  margin-top: 20%;
}

.pokeDescript {
  font-size: .9em;
}

.pokeDescript img {
 position: absolute;
 margin-left: -10%;
 margin-top: -25%;
}

.pokeDescript .glyphicon-triangle-right {
  position: absolute;
  margin-top: 18%;
  margin-left: 10%;
}

.pokeDescript .glyphicon-triangle-left {
  position: absolute;
  margin-top: 18%;
  margin-left: -19%;
}
.rightclick {
  position: absolute;
  height: 22px;
  width: 27px;
  margin-left: 65%;
  margin-top: -60%;
}

.leftclick {
  position: absolute;
  height: 22px;
  width: 27px;
  margin-top: -60%;
}

.upclick {
  position: absolute;
  height: 27px;
  width: 22px;
  margin-top: -92%;
  margin-left: 37%;
}

.downclick {
  position: absolute;
  height: 27px;
  width: 22px;
  margin-top: -32%;
  margin-left: 37%;
}

#userSelection {
  margin-left: -35%;
  margin-top: 15%;
  position: absolute;
}
#compSelection {
  margin-left: 10%;
  margin-top: 15%;
  position: absolute;
}

.displayBattle {
  background-image: url(../images/embossed_paper.png) !important; 
}

.winLossDraw {
  margin-top: 25%;
}

