* {
  font-family: 'Share Tech Mono', ;
}

body {
  padding-top: 50px;
  background-color: #324393;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#screen {
  border: black solid;
  height: 220px;
  background-image: url("../images/embossed_paper.png");
}