
@font-face {
  font-family: 'PokemonSolidNormal';
  src: url('PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),  url('PokemonSolidNormal.woff') format('woff'), url('PokemonSolidNormal.ttf')  format('truetype'), url('PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
