
@font-face {
  font-family: 'Pretendo';
  src: url('Pretendo.eot?#iefix') format('embedded-opentype'),  url('Pretendo.woff') format('woff'), url('Pretendo.ttf')  format('truetype'), url('Pretendo.svg#Pretendo') format('svg');
  font-weight: normal;
  font-style: normal;
}
